CONTACT_FROM_EMAIL=contact@sfrederick.dev
CONTACT_FROM_NAME=sfrederick.dev contact form
CONTACT_TO_EMAIL=sfred.mail@gmail.com
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
